<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Sprinter 3000 Story</title>
</head>
<body>
    <h1>User Story manager - Add new Story</h1>
    {% if edit%}
    <form action="/edit-story/{{new_text_list[0]}}" method="POST">
    {%else%}
    <form action="/save-story" method="POST">
    {%endif%}

        <input name="user_id" value="{{user_id}}" type="hidden"></p>

        <p><label for="title">Story Title</label><br>
        <input type="text" name="title" id="title" size="56" value="{{new_text_list[1] if edit else''}}"></p>

        <p><label for="story">User Story</label><br>
        <textarea name="story" id="story" rows="6" cols="55">{{new_text_list[2] if edit else''}}</textarea></p>

        <p><label for="criteria">Acceptance criteria</label><br>
        <textarea name="criteria" id="criteria" rows="6" cols="55">{{new_text_list[3] if edit else''}}</textarea></p>

        <p><label for="value">Business Value</label><br>
        <input type="number" name="value" id="value" min="100" max="1500" step="100" value="{{new_text_list[4] if edit else''}}"></p>

        <p><label for="estimation">Estimation</label><br>
        <input type="number" name="estimation" id="estimation" min="0.5" max="40" step="0.5" value="{{new_text_list[5] if edit else''}}"></p>

        <p><label for="status">Status</label><br>
        <select name="status" id="status" size=”1”>
            <option {{'selected' if edit and new_text_list[6] == 'Planning' else ''}}>Planning</option>
            <option {{'selected' if edit and new_text_list[6] == 'TODO' else ''}}>TODO</option>
            <option {{'selected' if edit and new_text_list[6] == 'In Progress' else ''}}>In Progress</option>
            <option {{'selected' if edit and new_text_list[6] == 'Review' else ''}}>Review</option>
            <option {{'selected' if edit and new_text_list[6] == 'Done' else ''}}>Done</option>
        </select><br><br><br>
        <button type="submit" >{{"Update" if edit else "Create"}}</button></p>
    </form>
</body>
</html>