<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Sprinter 3000 Story</title>
</head>
<body>
    <h1>User Story Manager</h1>
    <form action="/" method="POST">
        <p><button type="submit" value="new_story"		 
                            formtarget="_blank" 
                            formaction="/story" 
                            formmethod="get"> Add new User Story</button></p>

            <p><table border="1">
                    <tr>
                        <td> ID </td>
                        <td> Story Title </td>
                        <td> User Story </td>
                        <td> Acceptance Criteria </td>
                        <td> Business Value </td>
                        <td> Estimation </td>
                        <td> Status </td>
                    </tr>
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
            </table>
</body>
</html>