<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Sprinter 3000 Story</title>
</head>
<body>
    <h1>User Story Manager</h1>
    <form action="/story">
        <p><button type="submit">Add new User Story</button></p>

            <p><table border="1">
                    <tr>
                        <thead>
                            <td> ID </td>
                            <td> Story Title </td>
                            <td> User Story </td>
                            <td> Acceptance Criteria </td>
                            <td> Business Value </td>
                            <td> Estimation </td>
                            <td> Status </td>
                        </thead>
                        <tbody>
                            {% for line in text_list %}
                            {% if line[7] is not defined %}
                        <tr>
                            <td> {{line[0]}} </td>
                            <td> {{line[1]}} </td>
                            <td> {{line[2]}} </td>
                            <td> {{line[3]}} </td>
                            <td> {{line[4]}} </td>
                            <td> {{line[5]}} </td>
                            <td> {{line[6]}} </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
</body>
</html>