<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Sprinter 3000</title>
</head>
<body style="background-color:darkblue;">
    <h1 style="color:greenyellow;"> User Story Manager </h1>
    
    <form action="/story" method="GET">
        <p><button type="submit" id="submit3">Add new User Story</button></p>

            <p><table border="1">
                <tr>
                    <thead  style="background-color:greenyellow;">
                        <td><strong> ID </strong></td>
                        <td><strong> Story Title </strong></td>
                        <td><strong> User Story </strong></td>
                        <td><strong> Acceptance Criteria </strong></td>
                        <td><strong> Business Value </strong></td>
                        <td><strong> Estimation </strong></td>
                        <td><strong> Status </strong></td>
                    </thead>
                    <tbody style="background-color:greenyellow;">
                        {% for line in text_list %}
                        <tr>
                            <td> {{line[0]}} </td>
                            <td> {{line[1]}} </td>
                            <td> {{line[2]}} </td>
                            <td> {{line[3]}} </td>
                            <td> {{line[4]}} </td>
                            <td> {{line[5]}} </td>
                            <td> {{line[6]}} </td>
                            <td> <a href="/story/{{line[0]}}" ><img src="//www.shareicon.net/data/128x128/2016/07/17/797331_edit_512x512.png" width="40" height="20"alt="Pen"></td>
                            <td> <a href="/delete/{{line[0]}}"><img src="https://www.shareicon.net/data/128x128/2016/10/11/842403_multimedia_512x512.png" width="40" height="20" alt="Bin"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
</body>
</html>